{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block css %}
        <link href="{% static 'store/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'store/css/main.css' %}">
    {% endblock %}

    <title>{% block title %}BookStore{% endblock %}</title>
</head>
<body>

<div id="content">

    {% block content %}
        {% include "store/navbar.html" %}

        {% include "store/footer.html" %}
    {% endblock %}

</div>

{% block javascript %}
    <script src="{% static 'store/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'store/js/main.js' %}"></script>
{% endblock %}
</body>
</html>
